@model IEnumerable<PeopleApp.Models.Person>

@{
    ViewData["Title"] = "The People";
}


    <table class="search-container">
		<tr>
			<td>Search: </td>
			<td><input type="text" id="searchString" name="searchString" class="form-control" tabindex="1" /></td>
			<td><button class="form-control" onclick="searchButton()" tabindex="2">Search</button></td>
		    <td><img id="loading-image" class="loading-image" src="~/images/loading-gif-15.gif" hidden/></td>
	    </tr>
	</table>



<div id="searchResults">
    @Html.Partial("PeoplePartial", Model)
</div>

<script>
    function searchButton() {
	    var searchText = document.getElementById("searchString").value;

        $.ajax({
            url: "/People/IndexSearch",
	        type: "GET",
	        data: {searchString: searchText},
	        beforeSend: function() { $("#loading-image").show();},
	        complete: function() { $("#loading-image").hide();}
	    })
	    .done(function(partialViewResult) {
	        $("#searchResults").html(partialViewResult);
	    });
	}
</script>

